target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# vi
*.swp

# Eclipse
.project
.settings

# PadoGrid workspace
/.addonenv.sh
/initenv.sh
/setenv.sh
/vmenv.sh
bundles
lib
plugins
.workspace
.cluster
.ipynb_checkpoints
workspace.code-workspace

# PadoGrid workspace directories
apps
clusters
#docker
k8s
pods

# Bundle specifics
archive
log
lib
desktop
setenv.sh0
build
*.xml0
docker/hazelcast
docker/debezium_cp/padogrid/nifi
.terraform*
terraform.tfstate*
docker/debezium_cp/padogrid/mysql
